html{
	min-height: 100%;
}
@media (max-width: 600px) {
	p,li{
		font-size: 16px;	
	}
}
hr{
	border: 0;
	height: 1px;
	clear: both;
	background: tint($brand-primary,50%);
	margin: 25px 0;
	background-image: -webkit-linear-gradient(left, #000, #018651, #000);
	background-image: -moz-linear-gradient(left, #000, #018651, #000);
	background-image: -ms-linear-gradient(left, #000, #018651, #000);
	background-image: -o-linear-gradient(left, #000, #018651, #000);
	background-image: linear-gradient(left, #000, #018651, #000);
}
.post-list{
	list-style: none;
	margin: 0;	
	padding: 0;
	
	>li{
		padding: 20px 20px 60px 20px;
		overflow: auto;
		ul{
			text-align: left;
			list-style: none;
			li{
				margin: 10px 0;	
			}
			@media (min-width: $screen-sm-min) {
				li{
					margin: 0;
					text-align: center;
				}
			}
			em{
				color: $brand-warning;
				font-family: "Waiting for the Sunrise";
				font-style: italic;
				font-weight: 700;
				line-height: 1em;
				font-size: 1.5em;
			}
		}
	}
}