html{
	min-height: 100%;
	background: $brand-primary;
}
body{
	background: inherit;	
}
h1{
	color: $almost-white;
	text-align: center;
	margin-left: -20px;
	position: relative;
	z-index: 1;
}
	h2{
		display: block;
		font-family: 'Josefin Sans', sans-serif;
		color: $almost-white;
		text-align: center;
	}

@media (max-width: 600px) {
	p,li{
		font-size: 16px;	
	}
}
hr{
	border: 0;
	height: 1px;
	clear: both;
	background: tint($brand-primary,50%);
	margin: 25px 0;
	background-image: -webkit-linear-gradient(left, $brand-primary, darken($brand-primary,10%), $brand-primary);
	background-image: -moz-linear-gradient(left, $brand-primary, darken($brand-primary,10%), $brand-primary);
	background-image: -ms-linear-gradient(left, $brand-primary, darken($brand-primary,10%), $brand-primary);
	background-image: -o-linear-gradient(left, $brand-primary, darken($brand-primary,10%), $brand-primary);
	background-image: linear-gradient(left, $brand-primary, darken($brand-primary,10%), $brand-primary);
}
.post-list{
	list-style: none;
	padding-left: 0 ;
	padding-right: 0;
	>li{
		overflow: hidden;
		position: relative;
		.map{
			position:absolute;
			top: 0;
			left: 0;
		}
	}
	.amp{
		display: block;
		text-align: center;
		@extend h1;
	}
}
		#map{
			h1{
				color: $brand-primary;	
			}
		}
nav{
	clear: both;
	position: fixed;
	top: 200px;
	z-index: 200;
	background: lighten($brand-primary,10%);
	ul{
		padding-left: 20px;	
	}
	li{
		list-style: none;
	}
	&.right{
		text-align: right;
		right: 0;
		padding-right: 20px;
	}
	&.left{
		padding-left: 0;
		padding-right: 20px;
	}
}